# Node.js
node_modules/
.env
dist/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# PowerShell instalado
instalar.log
